*{
  margin:0;
  padding:0;
}
/* Hide scrollbars but allow scrolling */
body {
    overflow: hidden; /* Hide both vertical and horizontal scrollbars */
  }
  
  body:hover {
    overflow-y: scroll; /* Enable vertical scrolling on hover */
  }
  
  body::-webkit-scrollbar {
    display: none; /* Hide scrollbar for WebKit browsers like Chrome, Safari */
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideUp {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }

  
  .animate-fadeIn {
    animation: fadeIn 1s ease-in;
  }
  
  .animate-slideUp {
    animation: slideUp 1s ease-out;
  }
  

  /* App.css or your main CSS file */
.mySwiper {
  width: 100%;
  height: 100%;
}

.swiper-button-next,
.swiper-button-prev {
  color: #1E3A8A; /* Customize as needed */
}

.swiper-pagination-bullet {
  background: #EAB308; /* Customize as needed */
}

.swiper-pagination-bullet-active {
  background: #1E3A8A; /* Customize as needed */
}
