@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbars but allow scrolling */
body {
    overflow: hidden; /* Hide both vertical and horizontal scrollbars */
  }
  
  body:hover {
    overflow-y: scroll; /* Enable vertical scrolling on hover */
  }
  
  body::-webkit-scrollbar {
    display: none; /* Hide scrollbar for WebKit browsers like Chrome, Safari */
  }
  
  
  